# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.MusicCleanup.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\caffeine\mycr\MusicLibraryOrganizer\.idea\.idea.MusicCleanup\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
